.App {
  max-width: 600px;
  margin: 0 auto;
}

.wrapper {
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 40px;
}

h1 {
  text-align: center;
  padding: 30px;
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 20px;
  margin: 30px;
}

footer {
  text-align: center;
}
