.App {
  max-width: 600px;
  margin: 0 auto;
}

.wrapper {
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 40px;
}

h1 {
  text-align: center;
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 20px;
  margin: 30px;
}

footer {
  text-align: center;
}

@media (max-width: 600px) {
  .App {
    margin: 20px;
    text-align: center;
  }

  footer {
    font-size: 10px;
  }
}
