.Dictionary {
  margin: 20px;
}

h1 {
  padding: 0;
  background-color: whitesmoke;
}

form {
  text-align: center;
}

.Search {
  border-radius: 20px;
  padding: 5px;
}

.Submit {
  background-color: #cad4d6;
  margin: 5px;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  transition: ease-in-out 200ms;
}

.Submit:hover {
  color: #cad4d6;
  background-color: black;
}

section {
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  box-shadow: 10px 5px 20px rgba(161, 144, 144, 0.2);
}

@media (max-width: 600px) {
  .Search {
    font-size: 13px;
  }

  .Submit {
    font-size: 10px;
  }

  hint {
    display: none;
  }

  section {
    margin: 10px;
  }
}
