.Phonetic {
  text-align: center;
}

.Phonetic a {
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 5px 10px;
  text-decoration: none;
  margin-bottom: 10px;
  line-height: 2.5;
  background-color: #a0b0b7;
  color: black;
  font-weight: bold;
  transition: ease-in-out 200ms;
}

.Phonetic a:hover {
  color: #a0b0b7;
  background-color: black;
}

.Phonetic-text {
  margin-left: 5px;
  font-weight: bold;
}
